.ui-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw !important;
  height: 100vh !important;
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  background: $popup-overlay;
  z-index: 502;
  &-close {
    display: flex;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    border: none;
    background: url("/static/images/close.png") no-repeat center;
    background-size: cover;
    &:hover, &:focus, &:active {
      background: url("/static/images/close-pink.png") no-repeat center;
    }
    @include media-breakpoint-down(sm) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.35rem;
    background: none;
    border: none;
    padding: 0;
    @include title;
    font-size: 1.375rem;
    text-align: center;
    position: unset !important;
  }

  &-content {
    max-height: unset !important;
    padding: 0;
    max-width: 95%;
  }

  .button {
    @include btn;
    margin: 0.3rem auto auto;
  }

  input {
    max-width: 23rem;
  }
}

.ui-widget-overlay {
  display: none;
}
form .form-group label {
  color: $black;
}